<!-- EXTRACT FROM COURSEWORK 1 AFTER SCHOOL LESSONS -->

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
     integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

 <link href="tailwind.css" rel="stylesheet" type="text/css" />
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

<script src="lessons.js"></script> <!-- importing lessons from lessons.js file-->

<link rel="manifest" href="afterschool.webmanifest"> <!-- manifest file -->

<!-- added new styling for products-->
<style> 
    .product {
        border: 1px grey solid;
        padding: 20px;
        margin: 20px;
        text-align: center;
    }
</style>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js'); // adding service worker to file.
    };
</script>
</head>
<body>
 <main id="app">
     <h1 v-if="showLessons" class="text-center text-6xl p-4 flex w-full bg-blue-500 text-white font-bold justify-between ">Lessons
     <nav class=" navbar navbar-expand-md bg-blue navbar-light shadow-sm sticky-top text-right float-right">
     
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
             <span class="navbar-toggler-icon mr-auto "></span></button>
             <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <button class=" btn btn-info navbar-btn float-right " v-on:click="showCheckout" :disabled="canViewCart" v-if= 'cartItemCount>0'>{{cartItemCount}}
                 <span class="fas fa-shopping-cart"></span>Cart
             </button>
             </div>
     </nav>
     </h1>
  
     <div class="product" v-if="showLessons" >
         <div >
          <!-- Creating Radio Buttons for sorting with them calling SortByAttribute function on click-->
             <h2 class="font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sort Item By:</h2>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="attribute"  type="radio" value="title" v-on:click="SortByAttribute"><label>Subject</label>
             &nbsp;<input name="attribute"  type="radio" value="price" v-on:click="SortByAttribute" > <label> Price</label>
             &nbsp;<input name="attribute"  type="radio" value="location" v-on:click="SortByAttribute"><label> Location</label>
             &nbsp;<input name="attribute"  type="radio" value="spaces" v-on:click="SortByAttribute"><label> Availability </label><br>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="direction"  type="radio" value=1 v-on:click="SortByAttribute"><label> Ascending</label>
             &nbsp;<input name="direction"  type="radio" value=-1 v-on:click="SortByAttribute"><label> Descending</label>
         </div>
         <div class="row lessons col-sm-10 ">
             <div class="col-sm-4" v-for="lessons in lessons"> <!-- using v-for to display lessons-->
                 <div class="shadow-sm card mt-3 ml-3 " style="width:350px">
                     <img class="card-img-top img-fluid " v-bind:src="lessons.image" 
                         style="width:100%">
                     <div class="card-body">
                         <h3 class="card-title text center font-bold"> {{lessons.title}} </h3>
                         <p class="card-text"> Price: {{lessons.price}}</p>
                         <p class="card-text"> Location: {{lessons.location}}</p>
                         <p class="card-text"> Spaces: {{lessons.spaces}}</p>
                         <div>
                            <span v-for="n in lessons.rating"><i class="fas fa-star "></i></span> <!-- Checking rating from lessons and displaying accordingly for individual items in array -->
                            <span v-for="n in 5-lessons.rating"><i class="far fa-star"></i></span>
                        </div>
                         <button class="btn text-white bg-green-600 bg-opacity-2 text-center p-1 float-right" v-on:click="addToCart(lessons)"
                             v-if="canAddToCart(lessons)">Add To Cart</button>
                         <button class="btn text-white bg-red-600 bg-opacity-2 text-center p-1 float-right " disabled="disabled" v-else>Add To Cart</button> <!-- disabling button when spaces=0-->
                         <span v-if="lessons.spaces === cartCount(lessons.id)">All Out!</span>
                         <span v-else-if="lessons.spaces - cartCount(lessons.id) < 5">
                             Only {{lessons.spaces - cartCount(lessons.id)}} left!</span>
                             
                     </div>
                 </div>
             </div>
         </div>
     </div>
     </div>
    
     <div v-else>
         <h1 class=" text-center text-6xl p-4 flex w-full bg-blue-500 text-white font-bold justify-between ">Cart
             <button class="btn text-white bg-gray-600 bg-opacity-2 text-center p-1 float-right " v-on:click="showCheckout">Back To Lessons</button>
             <button class=" btn btn-info navbar-btn float-right" v-on:click="showCheckout" :disabled="canViewCart" v-if= 'cartItemCount>0'> <!-- Displaying cart only if atleast 1 item is added-->
                 {{cartItemCount}}
                 <span class="fas fa-shopping-cart"></span> Cart
             </button>
         </h1>
      
         <div class="row">
             <div class="col-sm-4 text-center mr-0" v-for="item in cart"> <!-- Using V-For to display items in cart-->
                 <div class="card shadow-sm-50  mt-5 ml-3" height="100px" style="width:450px" >
                     <img class="card-img-top img-fluid center-block " style="width:50%" v-bind:src="item.image" >
                     <div class="card text-center">
                         <h3 class="card-title font-bold text-center text-3xl ">{{item.title}} </h3>
                         <p class="card-text ">Price: {{item.price}} </p>
                         <p class="card-text "> Location: {{item.location}} </p>
                         <button v-on:click="removeItem(item,cart.indexOf(item))" class="btn btn-danger float-left" ><!-- Removing item from cart-->
                             <p class="fas fa-minus-circle"></p>
                            </button>
                    
                     </div>
                 </div>
             </div>
             <div class="text-center text-6xl p-4 flex w-full bg-gray-600 text-white font-bold justify-between float-left ">
                 <h1 class='font-bold'> Checkout Now </h1>
                 <form class="form-horizontal float-left">
                     <div class="form-group">
                         <label class="control-label col-sm-2 float-left">Full Name:</label>
                         <div class="col-sm-10">
                             <input type="text" class="form-control" onkeypress="return /[a-z, ]/i.test(event.key)" placeholder="Enter Full Name" v-model="order.name" > <!--First of two tests to check field of being alphabet only -->
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="control-label col-sm-2 float-left">Phone Number:</label>
                         <div class="col-sm-10">
                             <input type="text"  class="form-control" onkeypress="return /[1,2,3,4,5,6,7,8,9,0]/i.test(event.key)" v-model.number="order.number" placeholder="Enter Phone Number"> <!--First of two tests to check field of being number only -->
                         </div>
                     </div>
                     <div class="form-group">
                         <div class="col-sm-10 col-sm-offset-2" >
                             <button type="submit" class="btn btn-primary float-right " v-if="canCheckout" 
                                 v-on:click="checkout">Checkout</button> <!--First of two tests to check field of being number only -->
                             <button type="submit" class="btn btn-primary float-right bg-green-600" v-else disabled v-if="order.number.length>0 & order.name.length>0">Checkout</button> <!-- Enabling checkout only if both fields have content only-->
                         </div>
                     </div>
                 </form>
             </div>
     </div>     
 </main>
</body>
<script>
 new Vue({
     el: "#app",
     data: {
         lessons: lessons, // Lessons in data is that of lessons.js
         cart: [],
         order: {
             name: "",
             number: "",
         },
         showLessons: true,
     },
     methods: {
         canAddToCart(lessons) {
             return lessons.spaces > this.cartCount(lessons.id); // Method created to check if item can be added to cart.
         },
         addToCart(lessons) {
            this.cart.push(lessons);  // Method to push item into cart and decrease spaces in the lesson attribute:space.
             lessons.spaces -= 1;
         },
         removeItem(lessons, index) {
             this.cart.splice(index, 1); //Removing item from cart and reading back to lesson attribute:space.
             lessons.spaces += 1;
            
         },
         showCheckout() {
             this.showLessons = !this.showLessons; //method to show checkout only if conditions are met.
         },
         cartCount(id) {
             let counter = 0;
             for (let j = 0; j < this.cart.length; j++) {   //counting the number of individual id items in cart by use of for loop
                 if (this.cart[j] === id) {
                     counter++;
                 }
             }
             return counter;
         },
         checkout() {
             alert("Order Placed Successfully!"); // page alert for order confirmation.
             this.cart = [];
             this.order = [];
             for (lessons in lessons) {
                 lessons.spaces = 5;
             }
             this.showCheckout();
         },
         SortByAttribute() {
              var direc = document.querySelector('input[name="direction"]:checked');
             var attribute = document.querySelector('input[name="attribute"]:checked').value;
           
             if (attribute != null && direc != null) {
                 if (direc.value == 1) {
                     this.lessons.sort((a,b) => (a[attribute] < b[attribute] ? -1 : a[attribute] > b[attribute] ? 1 : 0)); //comparing between lesson array for sorting purpose, price is checked numerically and others are sorted alphabetically.
                 }
                 else if (direc.value == -1) {
                     this.lessons.sort((a,b) => (a[attribute] > b[attribute] ? -1 : a[attribute] < b[attribute] ? 1 : 0));
                 }
             }
             else {
                 this.lessons.sort((a,b) => (a[attribute] < b[attribute] ? -1 : a[attribute] > b[attribute] ? 1 : 0));
             }
         }
     },
     computed: {
         cartItemCount() {
             return this.cart.length || "";
         },
         canViewCart() {
             return this.cart.length < 0? true : false;
         },
         
         canCheckout() {
             
                 if (this.order.name != "" && this.order.number != "" ) { //Method to check both fields for successful checkout
                     return true;
                 }
                 else {
                     return false;
                 }
            
         }
         
     }
 });
</script>
</html>
 
 


